body,html{
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}

.footer{
	background-color: black;
	width: 100%;
	height: 100px;
	opacity: 0.7;
	text-align: center;
  	padding-top: 40px;
  	color: white;
}

.karuselltext{
	font-size: 70px;
	font-weight: bold;
}
.karsuelltextmindre{
	font-size: 50px;
	font-weight: bold;
}

.tipstext{
	font-weight: bold;
}

.divfix{
	padding-top: 20px;
	padding-bottom: 20px;
}

.knapp{
	background-color: #E80C94;
	width: 300px;
	height: 70px;
	font-size: 25px;
	border: solid black 1px;
	margin-bottom: 20px;
	margin-top: 20px;
}

.knappar{
	background-color: #E80C94;
	height: 50px;
	width: 250px;
	font-size: 15px;
	border: solid black 1px;
	margin-bottom: 20px;
	margin-top: 20px;
}

.tipsbilder{
	width: 150px;
	margin-top: 20px;
	margin-left: 20px;
	border-radius: 50%;
}

.mellanrum{
	margin: 40px 0px 20px 0px;s
}

.tips{
	margin-bottom: 25px
}

.bilder{
	width: 100%;
}

.card{
	border: none;
	margin-left: 50px;
}

.card2{
	border: none;
}

.fixfix{
	margin-left: 50px;
}

.logofix{
	height: 40px;
	position: relative;
	left: 800px;
}